.manage_cmp {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.insertarea {
    width: 30%;
    height: auto;
    background-color: antiquewhite;
}
.ins_card {
    width: 30%;
    height: auto;
    padding: 0 0;
    -webkit-user-drag: none;
}
.cards {
    padding: 25px 0;
}
.up_cards {
    padding: 25px 0 0 0;
}
h2 {
    width: auto;
    text-align: center;
}
.prev_master {
    width: 70%;
    height: auto;
}
.prev_card {
    width: 100%;
    height: auto;
}
.prev_cmp {
    width: 85%;
    height: auto;
    margin: 0 0 0 auto;
    padding: 80px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#prev_img {
    width: 400px;
    height: 220px;
    background-color: rgb(211, 231, 231);
}
.prev_imgs {
    width: 85%;
    height: 85%;
    background-size: cover;
    margin: 4% auto 0 auto;
}
.prev_p {
    width: 40%;
    height: fit-content;
    padding: 0 0 20px 0;
}
.onview {
    display: block;
}
.noview {
    display: none;
}
.btns {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 100px auto 0 auto;
    padding: 0 0 0 50px;
}
.ins_btn {
    width: 200px;
    height: auto;
}
.deletes {
    width: 100px;
}
.workname {
    width: 80%;
    height: auto;
    margin: 0 0 50px 0;
}
.main {
    padding: 40px 0 35px 0;
}
.input_cmp {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.textbox {
    word-break: break-all;
}
.spaces {
    height: auto;
}
.spaces::after {
    content: "";
    padding: 0 5px 0 0;
}
.i_month {
    width: 50px;
}
.s_month {
    width: 70px;
}
.select_image {
    width: 100px;
    height: 100px;
    background-color: bisque;
}
.img_inp {
    width: fit-content;
    height: auto;
    margin: 0 auto;
}
.month_master {
    width: fit-content;
    height: auto;
    margin: 0 auto;
}
.select_chips {
    background-color: #fff;
}
