#top {
    width: 100%;
    height: auto;
    background-color: #eee;
}
#mainarea {
    width: 100%;
    height: 720px;
    background-color: #fff;
}
#mainarea h2 {
    text-align: center;
    padding: 25% 0 0 0;
    font-size: 25px;
}
#mainarea p {
    text-align: center;
    font-size: 15px;
}

#top_work {
    width: 100%;
    height: auto;
    padding: 100px 0 50px 0;
}
#compo {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#card_cp a img {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.cp_img {
    width: 85%;
    height: 85%;
    margin: 5% auto;
    background-size: cover;
    border: 1px #eee solid;
}
#card_cp {
    width: 500px;
    height: 300px;
    margin: 0 0 50px 0;
    transform: rotate(0);
}
#card_cp:hover {
    transform: rotate(0);
}
h2 {
    margin: 2px;
}
