#work {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #eee;
}
#work h2 {
    text-align: center;
    font-size: 35px;
    margin: 0 0 30px 0;
}
.slides {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.slide_cmp {
    width: 80%;
    height: auto;
}
.work_cmp {
    width: 75%;
    height: auto;
    padding: 80px 20px;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#img_cmp {
    width: 500px;
    height: 300px;
    background-color: rgb(211, 231, 231);
}
.work_img {
    width: 85%;
    height: 85%;
    background-size: cover;
    margin: 5% auto;
}
.work_p {
    width: 40%;
    height: fit-content;
    padding: 0 0 20px 0;
}
.slick-prev {
    top: 150px;
    z-index: 100;
    left: 50px;
    left: 5%;
    transform: scale(1, 3);
}
.slick-next {
    transform: scale(1, 3);
    top: 150px;

    right: 90px;
    right: 7%;
}
@media (max-width: 767px) {
    #work_cmp {
        display: block;
    }
    .work_p {
        width: auto;
    }
}

.slick-next::before {
    content: "＞";
    font-size: 50px;
    color: #888;
}
.slick-prev::before {
    content: "＜";
    font-size: 50px;
    color: #888;
}
